Olá, achamos um <strong>Pet</strong> que é <strong>compatível</strong> com um <strong>Ouvinte</strong> que você criou, clique no link abaixo e confira!
<br>
<br>
<br>

<a href="{{ url|replace(':id', pet.id) }}">{{ url|replace(':id', pet.id) }}</a>
<br>
<br>
<br>

Atenciosamente,<br>
A Equipe TAP